<div class="home_page">
    <div class="page_body">
        <h1 class="page_title">Medals per Country</h1>
        <div class="data_information">
            <div class="data_number">
                <h3>Number of JOs</h3>
                <p>{{numberOfJo}}</p>
            </div>
            <div class="data_number">
                <h3>Number of countries</h3>
                <p>{{numberOfCountry}}</p>
            </div>
        </div>
        <app-home-pie-graph></app-home-pie-graph>
    </div>
</div>
